@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base tweaks */
@layer base {
  html { scroll-behavior: smooth; }
  body { @apply bg-white text-gray-800 antialiased; }
  a { @apply text-primary hover:text-primary-dark; }
}
